@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  * {
    cursor: default;
  }
  
  a, button, [role="button"], select, label, input[type="submit"], input[type="button"], .cursor-pointer {
    cursor: pointer !important;
  }
  
  input, textarea {
    cursor: text;
  }
  
  body, p, h1, h2, h3, h4, h5, h6, span, div {
    cursor: default;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #111111 !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
